# Aula 3 - Consultas e Seleções

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [2]:
# Spark SQl Consultas e Seleções
df = spark.sql('''select 'OK' as Status''')
df.show()

+------+
|Status|
+------+
|    OK|
+------+

In [3]:
# Importing Data
# df = spark.read.csv('ceral.csv', sep = ',', interShema = True, header = True)
import requests
import pandas as pd
import io

url = "https://raw.githubusercontent.com/SandraRojasZ/Pos_Tech_Data_Analytics/main/Base_de_Dados/cereal.csv"
#df = spark.read.csv('cereal.csv', sep = ',', inferSchema = True, header = True)
response = requests.get(url)
response.raise_for_status()  # Raise an exception for bad status codes

# Convert the data to a Pandas DataFrame
data = response.text
df_pandas = pd.read_csv(io.StringIO(data))

In [4]:
df = spark.createDataFrame(df_pandas)

print('df.count :', df.count())
print('df.col ct :', len(df.columns))
print('df.columns:', df.columns)

df.count : 77
df.col ct : 16
df.columns: ['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber', 'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups', 'rating']

In [5]:
df.show(3)

+-----------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|             name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+-----------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|        100% Bran|  N|   C|      70|      4|  1|   130| 10.0|  5.0|     6|   280|      25|    3|   1.0|0.33|68.402973|
|100% Natural Bran|  Q|   C|     120|      3|  5|    15|  2.0|  8.0|     8|   135|       0|    3|   1.0| 1.0|33.983679|
|         All-Bran|  K|   C|      70|      4|  1|   260|  9.0|  7.0|     5|   320|      25|    3|   1.0|0.33|59.425505|
+-----------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 3 rows

In [6]:
# Manipulation Data with  Spark SQL
# Criado uma tabela temporária a partir do df
df.createOrReplaceTempView("cereal")

In [7]:
cereal = spark.sql('''SELECT COUNT(*) AS total FROM cereal WHERE mfr = 'G' ''')
cereal.show(3)
# cereal.count()

+-----+
|total|
+-----+
|   22|
+-----+

In [8]:
df.where(df['mfr'] == 'G').show(3)
df.where(df['mfr'] == 'G').count()

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|Apple Cinnamon Ch...|  G|   C|     110|      2|  2|   180|  1.5| 10.5|    10|    70|      25|    1|   1.0|0.75|29.509541|
|             Basic 4|  G|   C|     130|      3|  2|   210|  2.0| 18.0|     8|   100|      25|    3|  1.33|0.75|37.038562|
|            Cheerios|  G|   C|     110|      6|  2|   290|  2.0| 17.0|     1|   105|      25|    1|   1.0|1.25|50.764999|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
only showing top 3 rows

22

In [9]:
# Visualizando todas as colunas que se tem na tabela
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- mfr: string (nullable = true)
 |-- type: string (nullable = true)
 |-- calories: long (nullable = true)
 |-- protein: long (nullable = true)
 |-- fat: long (nullable = true)
 |-- sodium: long (nullable = true)
 |-- fiber: double (nullable = true)
 |-- carbo: double (nullable = true)
 |-- sugars: long (nullable = true)
 |-- potass: long (nullable = true)
 |-- vitamins: long (nullable = true)
 |-- shelf: long (nullable = true)
 |-- weight: double (nullable = true)
 |-- cups: double (nullable = true)
 |-- rating: double (nullable = true)

In [10]:
df.createOrReplaceTempView("cereal")

In [11]:
# Select no SparkSQL
# Removendo duplicatas -> DISTINCT
cereal = spark.sql('''SELECT DISTINCT name, type, mfr FROM cereal''')
cereal.show(3)

+-------------------+----+---+
|               name|type|mfr|
+-------------------+----+---+
|Frosted Mini-Wheats|   C|  K|
|      Count Chocula|   C|  G|
|            Crispix|   C|  K|
+-------------------+----+---+
only showing top 3 rows

In [12]:
# Removendo duplicatas -> DISTINCT
cereal = spark.sql('''SELECT DISTINCT type, mfr FROM cereal''')
cereal.show()
cereal.count()

+----+---+
|type|mfr|
+----+---+
|   C|  P|
|   C|  Q|
|   C|  N|
|   C|  R|
|   H|  N|
|   C|  G|
|   C|  K|
|   H|  Q|
|   H|  A|
+----+---+

9

In [13]:
# Where no Spark SQL
cereal = spark.sql('''SELECT * FROM cereal WHERE mfr = 'K' AND calories >= 100 ''')
cereal.count()
cereal.show()

+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|                name|mfr|type|calories|protein|fat|sodium|fiber|carbo|sugars|potass|vitamins|shelf|weight|cups|   rating|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+
|         Apple Jacks|  K|   C|     110|      2|  0|   125|  1.0| 11.0|    14|    30|      25|    2|   1.0| 1.0|33.174094|
|         Corn Flakes|  K|   C|     100|      2|  0|   290|  1.0| 21.0|     2|    35|      25|    1|   1.0| 1.0|45.863324|
|           Corn Pops|  K|   C|     110|      1|  0|    90|  1.0| 13.0|    12|    20|      25|    2|   1.0| 1.0|35.782791|
|  Cracklin' Oat Bran|  K|   C|     110|      3|  3|   140|  4.0| 10.0|     7|   160|      25|    3|   1.0| 0.5|40.448772|
|             Crispix|  K|   C|     110|      2|  0|   220|  1.0| 21.0|     3|    30|      25|    3|   1.0| 1.0|46.895644|
|         Froot Loops|  K|   C|     110|      2|  1|   125|  1.0| 11.0|    13|    30|      25|    2|   1.0| 1.0|32.207582|
|      Frosted Flakes|  K|   C|     110|      1|  0|   200|  1.0| 14.0|    11|    25|      25|    1|   1.0|0.75|31.435973|
| Frosted Mini-Wheats|  K|   C|     100|      3|  0|     0|  3.0| 14.0|     7|   100|      25|    2|   1.0| 0.8|58.345141|
|       Fruitful Bran|  K|   C|     120|      3|  0|   240|  5.0| 14.0|    12|   190|      25|    3|  1.33|0.67|41.015492|
|Just Right Crunch...|  K|   C|     110|      2|  1|   170|  1.0| 17.0|     6|    60|     100|    3|   1.0| 1.0|36.523683|
|Just Right Fruit ...|  K|   C|     140|      3|  1|   170|  2.0| 20.0|     9|    95|     100|    3|   1.3|0.75|36.471512|
|Mueslix Crispy Blend|  K|   C|     160|      3|  2|   150|  3.0| 17.0|    13|   160|      25|    3|   1.5|0.67|30.313351|
|    Nut&Honey Crunch|  K|   C|     120|      2|  1|   190|  0.0| 15.0|     9|    40|      25|    2|   1.0|0.67|29.924285|
|Nutri-Grain Almon...|  K|   C|     140|      3|  2|   220|  3.0| 21.0|     7|   130|      25|    3|  1.33|0.67| 40.69232|
|          Product 19|  K|   C|     100|      3|  0|   320|  1.0| 20.0|     3|    45|     100|    3|   1.0| 1.0| 41.50354|
|         Raisin Bran|  K|   C|     120|      3|  1|   210|  5.0| 14.0|    12|   240|      25|    2|  1.33|0.75|39.259197|
|       Rice Krispies|  K|   C|     110|      2|  0|   290|  0.0| 22.0|     3|    35|      25|    1|   1.0| 1.0|40.560159|
|              Smacks|  K|   C|     110|      2|  1|    70|  1.0|  9.0|    15|    40|      25|    2|   1.0|0.75|31.230054|
|           Special K|  K|   C|     110|      6|  0|   230|  1.0| 16.0|     3|    55|      25|    1|   1.0| 1.0|53.131324|
+--------------------+---+----+--------+-------+---+------+-----+-----+------+------+--------+-----+------+----+---------+

In [14]:
#  Group BY
# coutn - > funçao nativa do SQL
cereal = spark.sql(''' SELECT mfr, \
                              type, \
                              COUNT(*) AS total,
                              SUM(calories) AS Total_Calories
                        FROM cereal
                        GROUP BY \
                              mfr, \
                              type ''')
# count -> função nativa do Python
cereal.count()
cereal.show()

+---+----+-----+--------------+
|mfr|type|total|Total_Calories|
+---+----+-----+--------------+
|  P|   C|    9|           980|
|  K|   C|   23|          2500|
|  G|   C|   22|          2450|
|  Q|   C|    7|           660|
|  R|   C|    8|           920|
|  N|   H|    1|           100|
|  N|   C|    5|           420|
|  A|   H|    1|           100|
|  Q|   H|    1|           100|
+---+----+-----+--------------+

In [15]:
cereal = spark.sql(''' SELECT DISTINCT type
                       FROM cereal ''')
cereal.show()

+----+
|type|
+----+
|   C|
|   H|
+----+

In [16]:
# Case WHEN
cereal = spark.sql(''' SELECT mfr, \
                              type, \
                              (case
                              -- alterando as letras
                                    when type = 'C' then 'A'
                                    when type = 'H' then 'B'
                                    else 'C'
                              end) as type_new,
                              COUNT(*) AS total,
                              SUM(calories) AS Total_Calories
                        FROM cereal
                        GROUP BY \
                              mfr, \
                              type ''')
# count -> função nativa do Python
cereal.count()
cereal.show()

+---+----+--------+-----+--------------+
|mfr|type|type_new|total|Total_Calories|
+---+----+--------+-----+--------------+
|  P|   C|       A|    9|           980|
|  K|   C|       A|   23|          2500|
|  G|   C|       A|   22|          2450|
|  Q|   C|       A|    7|           660|
|  R|   C|       A|    8|           920|
|  N|   H|       B|    1|           100|
|  N|   C|       A|    5|           420|
|  A|   H|       B|    1|           100|
|  Q|   H|       B|    1|           100|
+---+----+--------+-----+--------------+

In [17]:
# Consultas Avançadas em SQL usando PySpark
cereal_op = spark.sql('''
                    SELECT mfr,
                          type,
                          sum(calories) as sum_cal,
                          min(calories) as min_cal,
                          max(calories) as max_cal,
                          avg(calories) avg_cal,
                          count(distinct name) as count_distinct_names,
                          count(name) as count_names
                    FROM cereal
                    GROUP BY mfr, type
                    ORDER BY mfr, type
                    ''')
cereal_op.show()

+---+----+-------+-------+-------+------------------+--------------------+-----------+
|mfr|type|sum_cal|min_cal|max_cal|           avg_cal|count_distinct_names|count_names|
+---+----+-------+-------+-------+------------------+--------------------+-----------+
|  A|   H|    100|    100|    100|             100.0|                   1|          1|
|  G|   C|   2450|    100|    140|111.36363636363636|                  22|         22|
|  K|   C|   2500|     50|    160|108.69565217391305|                  23|         23|
|  N|   C|    420|     70|     90|              84.0|                   5|          5|
|  N|   H|    100|    100|    100|             100.0|                   1|          1|
|  P|   C|    980|     90|    120|108.88888888888889|                   9|          9|
|  Q|   C|    660|     50|    120| 94.28571428571429|                   7|          7|
|  Q|   H|    100|    100|    100|             100.0|                   1|          1|
|  R|   C|    920|     90|    150|             115.0|                   8|          8|
+---+----+-------+-------+-------+------------------+--------------------+-----------+

In [18]:
# Consultas Avançadas em SQL usando PySpark
cereal_op = spark.sql('''
                    SELECT mfr,
                           type,
                           sum(calories) as sum_cal,
                           min(calories) as min_cal,
                           max(calories) as max_cal,
                           cast(avg(calories) as decimal(10,2)) avg_cal,

                           sum(carbo) as sum_carbo,
                           min(carbo) as min_carbo,
                           max(carbo) as max_carbo,
                           cast(avg(carbo) as decimal(10,2)) as avg_carbo,

                           sum(vitamins) as sum_vitamins,
                           min(vitamins) as min_vitamins,
                           max(vitamins) as max_vitamins,
                           cast(avg(vitamins) as decimal(10,2)) avg_vitamins,

                           count(distinct name) as count_distinct_names,
                           count(name) as count_names
                    FROM cereal
                    GROUP BY mfr, type
                    ORDER BY mfr, type
                    ''')
cereal_op.show()

+---+----+-------+-------+-------+-------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+
|mfr|type|sum_cal|min_cal|max_cal|avg_cal|sum_carbo|min_carbo|max_carbo|avg_carbo|sum_vitamins|min_vitamins|max_vitamins|avg_vitamins|count_distinct_names|count_names|
+---+----+-------+-------+-------+-------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+
|  A|   H|    100|    100|    100| 100.00|     16.0|     16.0|     16.0|    16.00|          25|          25|          25|       25.00|                   1|          1|
|  G|   C|   2450|    100|    140| 111.36|    324.0|     10.5|     21.0|    14.73|         775|          25|         100|       35.23|                  22|         22|
|  K|   C|   2500|     50|    160| 108.70|    348.0|      7.0|     22.0|    15.13|         800|          25|         100|       34.78|                  23|         23|
|  N|   C|    420|     70|     90|  84.00|     75.0|      5.0|     20.0|    15.00|          50|           0|          25|       10.00|                   5|          5|
|  N|   H|    100|    100|    100| 100.00|     21.0|     21.0|     21.0|    21.00|           0|           0|           0|        0.00|                   1|          1|
|  P|   C|    980|     90|    120| 108.89|    119.0|     11.0|     17.0|    13.22|         225|          25|          25|       25.00|                   9|          9|
|  Q|   C|    660|     50|    120|  94.29|     81.0|      8.0|     14.0|    11.57|         100|           0|          25|       14.29|                   7|          7|
|  Q|   H|    100|    100|    100| 100.00|     -1.0|     -1.0|     -1.0|    -1.00|           0|           0|           0|        0.00|                   1|          1|
|  R|   C|    920|     90|    150| 115.00|    141.0|     14.0|     23.0|    17.63|         200|          25|          25|       25.00|                   8|          8|
+---+----+-------+-------+-------+-------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+

In [19]:
cereal_op = spark.sql('''
                    SELECT mfr,
                           type,
                           (case
                                when mfr = 'A' then 'Abacaxi'
                                when mfr = 'G' then 'Goiaba'
                                when mfr = 'K' then 'Banana'
                                when mfr = 'N' then 'Maça'
                                when mfr = 'P' then 'Tomate'
                                when mfr = 'Q' then 'Pera'
                                when mfr = 'R' then 'Uva'
                                else 'NA'
                           end) as type_fruit,

                           sum(calories) as sum_cal,
                           min(calories) as min_cal,
                           max(calories) as max_cal,
                           cast(avg(calories) as decimal(10,2)) avg_cal,

                           sum(carbo) as sum_carbo,
                           min(carbo) as min_carbo,
                           max(carbo) as max_carbo,
                           cast(avg(carbo) as decimal(10,2)) as avg_carbo,

                           sum(vitamins) as sum_vitamins,
                           min(vitamins) as min_vitamins,
                           max(vitamins) as max_vitamins,
                           cast(avg(vitamins) as decimal(10,2)) avg_vitamins,

                           count(distinct name) as count_distinct_names,
                           count(name) as count_names
                    FROM cereal
                    GROUP BY mfr, type
                    ORDER BY mfr, type
                    ''')
cereal_op.show()

+---+----+----------+-------+-------+-------+-------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+
|mfr|type|type_fruit|sum_cal|min_cal|max_cal|avg_cal|sum_carbo|min_carbo|max_carbo|avg_carbo|sum_vitamins|min_vitamins|max_vitamins|avg_vitamins|count_distinct_names|count_names|
+---+----+----------+-------+-------+-------+-------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+
|  A|   H|   Abacaxi|    100|    100|    100| 100.00|     16.0|     16.0|     16.0|    16.00|          25|          25|          25|       25.00|                   1|          1|
|  G|   C|    Goiaba|   2450|    100|    140| 111.36|    324.0|     10.5|     21.0|    14.73|         775|          25|         100|       35.23|                  22|         22|
|  K|   C|    Banana|   2500|     50|    160| 108.70|    348.0|      7.0|     22.0|    15.13|         800|          25|         100|       34.78|                  23|         23|
|  N|   C|      Maça|    420|     70|     90|  84.00|     75.0|      5.0|     20.0|    15.00|          50|           0|          25|       10.00|                   5|          5|
|  N|   H|      Maça|    100|    100|    100| 100.00|     21.0|     21.0|     21.0|    21.00|           0|           0|           0|        0.00|                   1|          1|
|  P|   C|    Tomate|    980|     90|    120| 108.89|    119.0|     11.0|     17.0|    13.22|         225|          25|          25|       25.00|                   9|          9|
|  Q|   C|      Pera|    660|     50|    120|  94.29|     81.0|      8.0|     14.0|    11.57|         100|           0|          25|       14.29|                   7|          7|
|  Q|   H|      Pera|    100|    100|    100| 100.00|     -1.0|     -1.0|     -1.0|    -1.00|           0|           0|           0|        0.00|                   1|          1|
|  R|   C|       Uva|    920|     90|    150| 115.00|    141.0|     14.0|     23.0|    17.63|         200|          25|          25|       25.00|                   8|          8|
+---+----+----------+-------+-------+-------+-------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+

In [20]:
# Importing Data
# df = spark.read.csv('ceral.csv', sep = ',', interShema = True, header = True)
import requests
import pandas as pd
import io

sds = "https://raw.githubusercontent.com/SandraRojasZ/Pos_Tech_Data_Analytics/main/Base_de_Dados/sales_data_sample.csv"
#df = spark.read.csv('cereal.csv', sep = ',', inferSchema = True, header = True)
response = requests.get(sds)
response.raise_for_status()  # Raise an exception for bad status codes

# Convert the data to a Pandas DataFrame
data_s = response.text
df_pandas_s = pd.read_csv(io.StringIO(data_s))

In [21]:
sales = spark.createDataFrame(df_pandas_s)

print('sales.count :', sales.count())
print('sales.col ct :', len(sales.columns))
print('sales.columns:', sales.columns)
sales.show()

sales.count : 2823
sales.col ct : 25
sales.columns: ['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER', 'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE', 'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'DEALSIZE']
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
|ORDERNUMBER|QUANTITYORDERED|PRICEEACH|ORDERLINENUMBER|  SALES|      ORDERDATE| STATUS|QTR_ID|MONTH_ID|YEAR_ID|PRODUCTLINE|MSRP|PRODUCTCODE|        CUSTOMERNAME|           PHONE|        ADDRESSLINE1|ADDRESSLINE2|         CITY|   STATE|POSTALCODE|  COUNTRY|TERRITORY|CONTACTLASTNAME|CONTACTFIRSTNAME|DEALSIZE|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
|      10107|             30|     95.7|              2| 2871.0| 2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|         NaN|          NYC|      NY|     10022|      USA|      NaN|             Yu|            Kwai|   Small|
|      10121|             34|    81.35|              5| 2765.9|  5/7/2003 0:00|Shipped|     2|       5|   2003|Motorcycles|  95|   S10_1678|  Reims Collectables|      26.47.1555|  59 rue de l'Abbaye|         NaN|        Reims|     NaN|     51100|   France|     EMEA|        Henriot|            Paul|   Small|
|      10134|             41|    94.74|              2|3884.34|  7/1/2003 0:00|Shipped|     3|       7|   2003|Motorcycles|  95|   S10_1678|     Lyon Souveniers|+33 1 46 62 7555|27 rue du Colonel...|         NaN|        Paris|     NaN|     75508|   France|     EMEA|       Da Cunha|          Daniel|  Medium|
|      10145|             45|    83.26|              6| 3746.7| 8/25/2003 0:00|Shipped|     3|       8|   2003|Motorcycles|  95|   S10_1678|   Toys4GrownUps.com|      6265557265|  78934 Hillside Dr.|         NaN|     Pasadena|      CA|     90003|      USA|      NaN|          Young|           Julie|  Medium|
|      10159|             49|    100.0|             14|5205.27|10/10/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Corporate Gift Id...|      6505551386|     7734 Strong St.|         NaN|San Francisco|      CA|       NaN|      USA|      NaN|          Brown|           Julie|  Medium|
|      10168|             36|    96.66|              1|3479.76|10/28/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Technics Stores Inc.|      6505556809|   9408 Furth Circle|         NaN|   Burlingame|      CA|     94217|      USA|      NaN|         Hirano|            Juri|  Medium|
|      10180|             29|    86.13|              9|2497.77|11/11/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|Daedalus Designs ...|      20.16.1555|184, chausse de T...|         NaN|        Lille|     NaN|     59000|   France|     EMEA|          Rance|         Martine|   Small|
|      10188|             48|    100.0|              1|5512.32|11/18/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|        Herkku Gifts|   +47 2267 3215|Drammen 121, PR 7...|         NaN|       Bergen|     NaN|    N 5804|   Norway|     EMEA|         Oeztan|          Veysel|  Medium|
|      10201|             22|    98.57|              2|2168.54| 12/1/2003 0:00|Shipped|     4|      12|   2003|Motorcycles|  95|   S10_1678|     Mini Wheels Co.|      6505555787|5557 North Pendal...|         NaN|San Francisco|      CA|       NaN|      USA|      NaN|         Murphy|           Julie|   Small|
|      10211|             41|    100.0|             14|4708.44| 1/15/2004 0:00|Shipped|     1|       1|   2004|Motorcycles|  95|   S10_1678|    Auto Canal Petit|  (1) 47.55.6555|   25, rue Lauriston|         NaN|        Paris|     NaN|     75016|   France|     EMEA|        Perrier|       Dominique|  Medium|
|      10223|             37|    100.0|              1|3965.66| 2/20/2004 0:00|Shipped|     1|       2|   2004|Motorcycles|  95|   S10_1678|Australian Collec...|    03 9520 4555|   636 St Kilda Road|     Level 3|    Melbourne|Victoria|      3004|Australia|     APAC|       Ferguson|           Peter|  Medium|
|      10237|             23|    100.0|              7|2333.12|  4/5/2004 0:00|Shipped|     2|       4|   2004|Motorcycles|  95|   S10_1678|     Vitachrome Inc.|      2125551500|   2678 Kingston Rd.|   Suite 101|          NYC|      NY|     10022|      USA|      NaN|          Frick|         Michael|   Small|
|      10251|             28|    100.0|              2|3188.64| 5/18/2004 0:00|Shipped|     2|       5|   2004|Motorcycles|  95|   S10_1678|Tekni Collectable...|      2015559350|       7476 Moss Rd.|         NaN|       Newark|      NJ|     94019|      USA|      NaN|          Brown|         William|  Medium|
|      10263|             34|    100.0|              2|3676.76| 6/28/2004 0:00|Shipped|     2|       6|   2004|Motorcycles|  95|   S10_1678|     Gift Depot Inc.|      2035552570| 25593 South Bay Ln.|         NaN|  Bridgewater|      CT|     97562|      USA|      NaN|           King|           Julie|  Medium|
|      10275|             45|    92.83|              1|4177.35| 7/23/2004 0:00|Shipped|     3|       7|   2004|Motorcycles|  95|   S10_1678|   La Rochelle Gifts|      40.67.8555|67, rue des Cinqu...|         NaN|       Nantes|     NaN|     44000|   France|     EMEA|        Labrune|          Janine|  Medium|
|      10285|             36|    100.0|              6|4099.68| 8/27/2004 0:00|Shipped|     3|       8|   2004|Motorcycles|  95|   S10_1678|Marta's Replicas Co.|      6175558555| 39323 Spinnaker Dr.|         NaN|    Cambridge|      MA|     51247|      USA|      NaN|      Hernandez|           Marta|  Medium|
|      10299|             23|    100.0|              9|2597.39| 9/30/2004 0:00|Shipped|     3|       9|   2004|Motorcycles|  95|   S10_1678|Toys of Finland, Co.|     90-224 8555|       Keskuskatu 45|         NaN|     Helsinki|     NaN|     21240|  Finland|     EMEA|      Karttunen|           Matti|   Small|
|      10309|             41|    100.0|              5|4394.38|10/15/2004 0:00|Shipped|     4|      10|   2004|Motorcycles|  95|   S10_1678|  Baane Mini Imports|      07-98 9555|Erling Skakkes ga...|         NaN|      Stavern|     NaN|      4110|   Norway|     EMEA|     Bergulfsen|           Jonas|  Medium|
|      10318|             46|    94.74|              1|4358.04| 11/2/2004 0:00|Shipped|     4|      11|   2004|Motorcycles|  95|   S10_1678|Diecast Classics ...|      2155551555|    7586 Pompton St.|         NaN|    Allentown|      PA|     70267|      USA|      NaN|             Yu|           Kyung|  Medium|
|      10329|             42|    100.0|              1|4396.14|11/15/2004 0:00|Shipped|     4|      11|   2004|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|         NaN|          NYC|      NY|     10022|      USA|      NaN|             Yu|            Kwai|  Medium|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
only showing top 20 rows

In [22]:
sales.printSchema()

root
 |-- ORDERNUMBER: long (nullable = true)
 |-- QUANTITYORDERED: long (nullable = true)
 |-- PRICEEACH: double (nullable = true)
 |-- ORDERLINENUMBER: long (nullable = true)
 |-- SALES: double (nullable = true)
 |-- ORDERDATE: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- QTR_ID: long (nullable = true)
 |-- MONTH_ID: long (nullable = true)
 |-- YEAR_ID: long (nullable = true)
 |-- PRODUCTLINE: string (nullable = true)
 |-- MSRP: long (nullable = true)
 |-- PRODUCTCODE: string (nullable = true)
 |-- CUSTOMERNAME: string (nullable = true)
 |-- PHONE: string (nullable = true)
 |-- ADDRESSLINE1: string (nullable = true)
 |-- ADDRESSLINE2: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- POSTALCODE: string (nullable = true)
 |-- COUNTRY: string (nullable = true)
 |-- TERRITORY: string (nullable = true)
 |-- CONTACTLASTNAME: string (nullable = true)
 |-- CONTACTFIRSTNAME: string (nullable = true)
 |-- DEALSIZE: string (nullable = true)

In [23]:
# Tabela temporária dentro da sessão do SPARK SQL
sales.createOrReplaceTempView('sales')

In [24]:
data_sales = spark.sql('''
                    SELECT *
                    FROM sales
                      ''')
data_sales.show()

+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
|ORDERNUMBER|QUANTITYORDERED|PRICEEACH|ORDERLINENUMBER|  SALES|      ORDERDATE| STATUS|QTR_ID|MONTH_ID|YEAR_ID|PRODUCTLINE|MSRP|PRODUCTCODE|        CUSTOMERNAME|           PHONE|        ADDRESSLINE1|ADDRESSLINE2|         CITY|   STATE|POSTALCODE|  COUNTRY|TERRITORY|CONTACTLASTNAME|CONTACTFIRSTNAME|DEALSIZE|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
|      10107|             30|     95.7|              2| 2871.0| 2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|         NaN|          NYC|      NY|     10022|      USA|      NaN|             Yu|            Kwai|   Small|
|      10121|             34|    81.35|              5| 2765.9|  5/7/2003 0:00|Shipped|     2|       5|   2003|Motorcycles|  95|   S10_1678|  Reims Collectables|      26.47.1555|  59 rue de l'Abbaye|         NaN|        Reims|     NaN|     51100|   France|     EMEA|        Henriot|            Paul|   Small|
|      10134|             41|    94.74|              2|3884.34|  7/1/2003 0:00|Shipped|     3|       7|   2003|Motorcycles|  95|   S10_1678|     Lyon Souveniers|+33 1 46 62 7555|27 rue du Colonel...|         NaN|        Paris|     NaN|     75508|   France|     EMEA|       Da Cunha|          Daniel|  Medium|
|      10145|             45|    83.26|              6| 3746.7| 8/25/2003 0:00|Shipped|     3|       8|   2003|Motorcycles|  95|   S10_1678|   Toys4GrownUps.com|      6265557265|  78934 Hillside Dr.|         NaN|     Pasadena|      CA|     90003|      USA|      NaN|          Young|           Julie|  Medium|
|      10159|             49|    100.0|             14|5205.27|10/10/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Corporate Gift Id...|      6505551386|     7734 Strong St.|         NaN|San Francisco|      CA|       NaN|      USA|      NaN|          Brown|           Julie|  Medium|
|      10168|             36|    96.66|              1|3479.76|10/28/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Technics Stores Inc.|      6505556809|   9408 Furth Circle|         NaN|   Burlingame|      CA|     94217|      USA|      NaN|         Hirano|            Juri|  Medium|
|      10180|             29|    86.13|              9|2497.77|11/11/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|Daedalus Designs ...|      20.16.1555|184, chausse de T...|         NaN|        Lille|     NaN|     59000|   France|     EMEA|          Rance|         Martine|   Small|
|      10188|             48|    100.0|              1|5512.32|11/18/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|        Herkku Gifts|   +47 2267 3215|Drammen 121, PR 7...|         NaN|       Bergen|     NaN|    N 5804|   Norway|     EMEA|         Oeztan|          Veysel|  Medium|
|      10201|             22|    98.57|              2|2168.54| 12/1/2003 0:00|Shipped|     4|      12|   2003|Motorcycles|  95|   S10_1678|     Mini Wheels Co.|      6505555787|5557 North Pendal...|         NaN|San Francisco|      CA|       NaN|      USA|      NaN|         Murphy|           Julie|   Small|
|      10211|             41|    100.0|             14|4708.44| 1/15/2004 0:00|Shipped|     1|       1|   2004|Motorcycles|  95|   S10_1678|    Auto Canal Petit|  (1) 47.55.6555|   25, rue Lauriston|         NaN|        Paris|     NaN|     75016|   France|     EMEA|        Perrier|       Dominique|  Medium|
|      10223|             37|    100.0|              1|3965.66| 2/20/2004 0:00|Shipped|     1|       2|   2004|Motorcycles|  95|   S10_1678|Australian Collec...|    03 9520 4555|   636 St Kilda Road|     Level 3|    Melbourne|Victoria|      3004|Australia|     APAC|       Ferguson|           Peter|  Medium|
|      10237|             23|    100.0|              7|2333.12|  4/5/2004 0:00|Shipped|     2|       4|   2004|Motorcycles|  95|   S10_1678|     Vitachrome Inc.|      2125551500|   2678 Kingston Rd.|   Suite 101|          NYC|      NY|     10022|      USA|      NaN|          Frick|         Michael|   Small|
|      10251|             28|    100.0|              2|3188.64| 5/18/2004 0:00|Shipped|     2|       5|   2004|Motorcycles|  95|   S10_1678|Tekni Collectable...|      2015559350|       7476 Moss Rd.|         NaN|       Newark|      NJ|     94019|      USA|      NaN|          Brown|         William|  Medium|
|      10263|             34|    100.0|              2|3676.76| 6/28/2004 0:00|Shipped|     2|       6|   2004|Motorcycles|  95|   S10_1678|     Gift Depot Inc.|      2035552570| 25593 South Bay Ln.|         NaN|  Bridgewater|      CT|     97562|      USA|      NaN|           King|           Julie|  Medium|
|      10275|             45|    92.83|              1|4177.35| 7/23/2004 0:00|Shipped|     3|       7|   2004|Motorcycles|  95|   S10_1678|   La Rochelle Gifts|      40.67.8555|67, rue des Cinqu...|         NaN|       Nantes|     NaN|     44000|   France|     EMEA|        Labrune|          Janine|  Medium|
|      10285|             36|    100.0|              6|4099.68| 8/27/2004 0:00|Shipped|     3|       8|   2004|Motorcycles|  95|   S10_1678|Marta's Replicas Co.|      6175558555| 39323 Spinnaker Dr.|         NaN|    Cambridge|      MA|     51247|      USA|      NaN|      Hernandez|           Marta|  Medium|
|      10299|             23|    100.0|              9|2597.39| 9/30/2004 0:00|Shipped|     3|       9|   2004|Motorcycles|  95|   S10_1678|Toys of Finland, Co.|     90-224 8555|       Keskuskatu 45|         NaN|     Helsinki|     NaN|     21240|  Finland|     EMEA|      Karttunen|           Matti|   Small|
|      10309|             41|    100.0|              5|4394.38|10/15/2004 0:00|Shipped|     4|      10|   2004|Motorcycles|  95|   S10_1678|  Baane Mini Imports|      07-98 9555|Erling Skakkes ga...|         NaN|      Stavern|     NaN|      4110|   Norway|     EMEA|     Bergulfsen|           Jonas|  Medium|
|      10318|             46|    94.74|              1|4358.04| 11/2/2004 0:00|Shipped|     4|      11|   2004|Motorcycles|  95|   S10_1678|Diecast Classics ...|      2155551555|    7586 Pompton St.|         NaN|    Allentown|      PA|     70267|      USA|      NaN|             Yu|           Kyung|  Medium|
|      10329|             42|    100.0|              1|4396.14|11/15/2004 0:00|Shipped|     4|      11|   2004|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|         NaN|          NYC|      NY|     10022|      USA|      NaN|             Yu|            Kwai|  Medium|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
only showing top 20 rows

In [25]:
calendar = spark.sql('''
                    SELECT DISTINCT orderdate, qtr_id, month_id, year_id
                    FROM sales
                    ORDER BY orderdate
                      ''')
calendar.show()

+--------------+------+--------+-------+
|     orderdate|qtr_id|month_id|year_id|
+--------------+------+--------+-------+
|1/10/2003 0:00|     1|       1|   2003|
|1/10/2005 0:00|     1|       1|   2005|
|1/12/2004 0:00|     1|       1|   2004|
|1/12/2005 0:00|     1|       1|   2005|
|1/15/2004 0:00|     1|       1|   2004|
|1/16/2004 0:00|     1|       1|   2004|
|1/19/2005 0:00|     1|       1|   2005|
| 1/2/2004 0:00|     1|       1|   2004|
|1/20/2005 0:00|     1|       1|   2005|
|1/22/2004 0:00|     1|       1|   2004|
|1/23/2005 0:00|     1|       1|   2005|
|1/26/2004 0:00|     1|       1|   2004|
|1/26/2005 0:00|     1|       1|   2005|
|1/29/2003 0:00|     1|       1|   2003|
|1/29/2004 0:00|     1|       1|   2004|
|1/31/2003 0:00|     1|       1|   2003|
|1/31/2005 0:00|     1|       1|   2005|
| 1/5/2005 0:00|     1|       1|   2005|
| 1/6/2003 0:00|     1|       1|   2003|
| 1/6/2005 0:00|     1|       1|   2005|
+--------------+------+--------+-------+
only showing top 20 rows

In [36]:
# Criando Tabelas

calendar = spark.sql('''
                    SELECT DISTINCT orderdate, qtr_id, month_id, year_id
                    FROM sales
                    ORDER BY orderdate
                      ''')

sales_data = spark.sql('''
                    SELECT DISTINCT ordernumber,
                                    customername,
                                    orderdate,
                                    sales,
                                    quantityordered,
                                    orderlinenumber,
                                    priceeach
                    FROM sales
                    ORDER BY ordernumber
                      ''')

customers = spark.sql('''
                    SELECT DISTINCT customername,
                                    phone,
                                    sales,
                                    addressline1,
                                    addressline2,
                                    city,
                                    state,
                                    postalcode,
                                    country,
                                    territory
                    FROM sales
                    ORDER BY customername
                    ''')

# Materializar esse dados separados
# Criando tabelas temporárias
sales_data.createOrReplaceTempView('sales_data')
calendar.createOrReplaceTempView('calendar')
customers.createOrReplaceTempView('customers')

In [28]:
calendar.count()

252

In [29]:
sales_data.count()

2823

In [30]:
customers.count()

2823

In [33]:
# Como se fosse uma tabela master com a junção de dados
# União das tabelas
master = spark.sql('''
                   SELECT *
                   FROM sales_data s
                   INNER JOIN customers c ON s.CUSTOMERNAME = c.CUSTOMERNAME
                   ''')
master.show(5)

+-----------+---------------+---------------+-------+---------------+---------------+---------+---------------+--------------+-------+--------------------+------------+-----------+----------+-----------+---------+
|ordernumber|   customername|      orderdate|  sales|quantityordered|orderlinenumber|priceeach|   customername|         phone|  sales|        addressline1|addressline2|      state|postalcode|    country|territory|
+-----------+---------------+---------------+-------+---------------+---------------+---------+---------------+--------------+-------+--------------------+------------+-----------+----------+-----------+---------+
|      10198|Cruz & Sons Co.|11/27/2003 0:00|3255.36|             48|              5|    67.82|Cruz & Sons Co.|+63 2 555 3587|5265.15|15 McCallum Stree...|         NaN|Makati City|   1227 MM|Philippines|    Japan|
|      10108|Cruz & Sons Co.|  3/3/2003 0:00|2914.11|             43|             12|    67.77|Cruz & Sons Co.|+63 2 555 3587|5265.15|15 McCallum Stree...|         NaN|Makati City|   1227 MM|Philippines|    Japan|
|      10198|Cruz & Sons Co.|11/27/2003 0:00|4774.56|             42|              1|    100.0|Cruz & Sons Co.|+63 2 555 3587|5265.15|15 McCallum Stree...|         NaN|Makati City|   1227 MM|Philippines|    Japan|
|      10108|Cruz & Sons Co.|  3/3/2003 0:00|2130.01|             31|             10|    68.71|Cruz & Sons Co.|+63 2 555 3587|5265.15|15 McCallum Stree...|         NaN|Makati City|   1227 MM|Philippines|    Japan|
|      10108|Cruz & Sons Co.|  3/3/2003 0:00|5565.12|             44|             11|    100.0|Cruz & Sons Co.|+63 2 555 3587|5265.15|15 McCallum Stree...|         NaN|Makati City|   1227 MM|Philippines|    Japan|
+-----------+---------------+---------------+-------+---------------+---------------+---------+---------------+--------------+-------+--------------------+------------+-----------+----------+-----------+---------+
only showing top 5 rows

In [38]:
master_c = spark.sql('''
                  SELECT DISTINCT s.ordernumber, c.city
                  FROM sales_data s
                  INNER JOIN customers c ON s.CUSTOMERNAME = c. CUSTOMERNAME
                  ''')
master_c.show(5)

+-----------+---------+
|ordernumber|     city|
+-----------+---------+
|      10262|   Madrid|
|      10281|Allentown|
|      10194|     Lyon|
|      10242|      NYC|
|      10247|    Espoo|
+-----------+---------+
only showing top 5 rows