# Aula 4 - Operações entre Dataframes e Armazenamento

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [3]:
sc = SparkContext.getOrCreate()

In [4]:
spark = SparkSession.builder.appName('PySpark Dataframe').getOrCreate

In [5]:
# Transformations
# Transformação de dados dentro do Spark

# MAP ()

data = [1, 2, 3, 4, 5]
myRDD = sc.parallelize(data)
# mapeando os dados na condição x* 2
newRDD = myRDD.map(lambda x: x*2)
print(newRDD.collect())

[2, 4, 6, 8, 10]

In [8]:
# filter()
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
myRDD = sc.parallelize(data)
newRDD = myRDD.filter(lambda x: x%2 == 0)
print(newRDD.collect())

[2, 4, 6, 8, 10]

In [10]:
# DISTINCT()
data = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3]
myRDD = sc.parallelize(data)
newRDD = myRDD.distinct()
print(newRDD.collect())

[2, 1, 3]

In [13]:
# DISTINCT()
# COUNT()
data = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3]
myRDD = sc.parallelize(data)
newRDD = myRDD.distinct()
print(newRDD.count())

3

In [15]:
# newRDD
data = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3]
myRDD = sc.parallelize(data)
newRDD = myRDD.distinct()
print(newRDD)

PythonRDD[43] at RDD at PythonRDD.scala:53

In [16]:
# TYPE
data = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3]
myRDD = sc.parallelize(data)
newRDD = myRDD.distinct()
print(type(newRDD))

<class 'pyspark.rdd.PipelinedRDD'>

In [ ]:
# groupBYKey