# Aula 4 - Operações entre Dataframes e Armazenamento

In [3]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [4]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [5]:
sc = SparkContext.getOrCreate()

In [6]:
spark = SparkSession.builder.appName('PySpark Dataframe').getOrCreate

In [7]:
# Transformations
# Transformação de dados dentro do Spark

# MAP ()

data = [1, 2, 3, 4, 5]
myRDD = sc.parallelize(data)
# mapeando os dados na condição x* 2
newRDD = myRDD.map(lambda x: x*2)
print(newRDD.collect())

[2, 4, 6, 8, 10]

In [8]:
# filter()
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
myRDD = sc.parallelize(data)
newRDD = myRDD.filter(lambda x: x%2 == 0)
print(newRDD.collect())

[2, 4, 6, 8, 10]

In [9]:
# DISTINCT()
data = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3]
myRDD = sc.parallelize(data)
newRDD = myRDD.distinct()
print(newRDD.collect())

[2, 1, 3]

In [10]:
# DISTINCT()
# COUNT()
data = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3]
myRDD = sc.parallelize(data)
newRDD = myRDD.distinct()
print(newRDD.count())

3

In [11]:
# newRDD
data = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3]
myRDD = sc.parallelize(data)
newRDD = myRDD.distinct()
print(newRDD)

PythonRDD[21] at RDD at PythonRDD.scala:53

In [12]:
# TYPE
data = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3]
myRDD = sc.parallelize(data)
newRDD = myRDD.distinct()
print(type(newRDD))

<class 'pyspark.rdd.PipelinedRDD'>

In [13]:
# groupBYKey()
myRDD = sc.parallelize([('a', 1), ('a', 2), ('a', 3), ('b', 1)])
resultList = myRDD.groupByKey().mapValues(list)
resultList.collect()

[('b', [1]), ('a', [1, 2, 3])]

In [14]:
# reduceByKey()
from operator import add
myRDD = sc.parallelize([('a', 1), ('a', 2), ('a', 3), ('b', 1)])
# adds the values by keys
newRDD = myRDD.reduceByKey(add)
newRDD.collect()

[('b', 1), ('a', 6)]

In [15]:
# SortByKey()
myRDD = sc.parallelize([('c', 1), ('d', 2), ('a', 3), ('b', 4)])
# sort by key
newRDD = myRDD.sortByKey()
newRDD.collect()

[('a', 3), ('b', 4), ('c', 1), ('d', 2)]

In [17]:
# UNION()
myRDD1 = sc.parallelize([1, 2, 3, 4])
myRDD2 = sc.parallelize([3, 4, 5, 6, 7])
# union of myRDD1 and myRDD2
newRDD = myRDD1.union(myRDD2)
newRDD.collect()

[1, 2, 3, 4, 3, 4, 5, 6, 7]

# Actions

In [19]:
# count()
data = ['Scala', 'Python', 'Java', 'R']
myRDD = sc.parallelize(data)
# Returns 4 as output
myRDD.count()

4

In [20]:
data = [1, 1, 1, 4,  5, 6, 7, 8, 9, 10]
myRDD = sc.parallelize(data)
myRDD.count()

10

In [21]:
# reduce()
data = [1, 2, 3, 4, 5]
myRDD = sc.parallelize(data)
myRDD.reduce(lambda x, y: x * y)

120

In [23]:
# foreach()
def fun(x):
  print(x)
data = ['Scala', 'Python', 'Java', 'R']
myRDD = sc.parallelize(data)
myRDD.foreach(fun)

In [24]:
# countByValue()
# Conta a quantidade de termos
data = ['Python', 'Scala', 'Python', 'R', 'Python', 'Java', 'R']
myRDD = sc.parallelize(data)
myRDD.countByValue().items()

dict_items([('Python', 3), ('Scala', 1), ('R', 2), ('Java', 1)])

In [25]:
# countByKey
# Contando pela chave
data = [('a', 1), ('b', 1), ('c', 1), ('a', 1)]
myRDD = sc.parallelize(data)
myRDD.countByKey().items()

dict_items([('a', 2), ('b', 1), ('c', 1)])

In [26]:
# take(n)
# pega os 3 primeiros elementos
data = [2, 5, 3, 8, 4]
myRDD = sc.parallelize(data)
myRDD.take(3)

[2, 5, 3]

In [27]:
# top
data = [2, 5, 3, 8, 4]
myRDD = sc.parallelize(data)
myRDD.top(3)

[8, 5, 4]